<ion-content>
  <form (ngSubmit)="registrarUsuario();">
    <h1 class="ion-text-center">Crear Cuenta</h1>
  
    <ion-button color="danger" expand="block" (click)="closeModal();" >Cancelar</ion-button>
    <ion-button expand="block" type="submit">Registrar</ion-button>
  
    <ion-input placeholder="E-mail" [(ngModel)]="usuario.email"></ion-input>
    <ion-input placeholder="Nombre(s)" [(ngModel)]="usuario.nombres"></ion-input>
    <ion-input placeholder="Apellidos" [(ngModel)]="usuario.apellidos"></ion-input>
  
    <ion-item>
      <ion-label>Genero</ion-label>
      <ion-select placeholder="Select One" name="genero" [(ngModel)]="usuario.genero">
        <ion-select-option value="F">Femenino</ion-select-option>
        <ion-select-option value="M">Masculino</ion-select-option>
        <ion-select-option value="X">Otro</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-input placeholder="Password" type="password" [(ngModel)]="usuario.password"></ion-input>
    <ion-input placeholder="Repetir Password" type="password" [(ngModel)]="usuario.password_confirm"></ion-input>
  </form>
</ion-content>
